@media screen  and  (max-width:600px) {
  h1 {
    
    font-size: 25px !important;
    
  }



  .form {
     margin-top: 5px !important;
      width: 97% !important ;
         border-radius: 5px !important;
    border-left: none;
    border-right: none;
    border-bottom: 10px solid rgb(196, 156, 196); 
    height: auto ;
      display: flex;
      justify-content: center;
      text-align: center;
      flex-direction: column;
    }
    

    button{
      width: 35%  !important;
      border-radius: 15px;
      font-size: 15px !important;
      color: purple !important ;
    }
}
.h1 {
  text-align: center;
  font-size: 50px !important;
  text-transform: capitalize;
  letter-spacing: 2px;
  color: blueviolet;

}

input,
button {
  color: purple;
  font-size: 20px;
  border-radius: 5px;
  width: 80%;
  align-self: center;
  margin: 20px;
  padding: 5px;
  border: 2px solid purple;
background-color: rgb(231, 231, 231);
}
button{
  width: 10% ;
  border-radius: 10px;
  font-size: 25px;
  color: purple;
}

.form {
background:linear-gradient(to bottom, rgb(230, 192, 236) ,white);
  margin: 10px;
  width: 30%;
  border: 10px solid purple;
  border-radius: 20px;
border-left: none;
border-right: none;
border-bottom: 10px solid rgb(196, 156, 196); 
height: 40vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

label{
  color: purple;
  font-size: 20px ;
}
.red  , .corection{
  color: red;

}
.notification{
  font-size: 10px ;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* new */